
.twitterIcon { 
    margin-left: 4rem;

}

.sidebarOption { 
    display: flex;
    gap: 0.1rem;
    margin-left: 3rem;
    padding: 20px; 
}

.sidebarOption:hover { 
    background-color: #e8f5fe;
    cursor: pointer;
    color: var(--twitter-color);
    border-radius: 30px;
    transition: color 100ms ease-out;
}

.tweetButton {
    background-color: #1DA1F2 ;
    border: none ;
    color: white ;
    font-weight: 900 ;
    text-transform: inherit ;
    border-radius: 30px ;
    height: 50px ;
    margin-top: 20px ;
    margin-left: 3rem;
    width: 12rem;
  }

  .sidebarOption--active {
    color: var(--twitter-color);
  }